asgiref==3.2.3
dj-database-url==0.5.0
Django==3.0.12
django-cors-headers==3.2.0
djangorestframework==3.10.3
get==2019.4.13
gunicorn==20.0.4
post==2019.4.13
psycopg2-binary==2.8.4
public==2019.4.13
python-dotenv==0.10.3
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
sqlparse==0.3.0
whitenoise==4.1.4
